{:full-name "ice/artist-metadata"
 :ns-name   "ice.artist-metadata"
 :sanitized "ice/artist_metadata"
 :name      "artist-metadata"
 :modules   {:root         "modules"
             :repositories [{:url  "https://github.com/kit-clj/modules.git"
                             :tag  "master"
                             :name "kit-modules"}]}}
